/* CSS LAYOUT */
/* **************************************************************** */

body{
  display: flex;
  flex-direction: row;
}


.menu{
  flex-grow: 1;
}
.cuadrado{

padding: 50px;
height: 150px;
display: flex;
justify-content: space-between;
align-items: center;

}

.negro{

  color: rgb(8, 8, 8);
}

.azul{

  background-color: rgb(11, 173, 248);
  flex-grow: 1;
}
