/* CSS LAYOUT */
/* **************************************************************** */

body{
  display: flex;
  flex-direction: row;
}
.separacion{

  flex-grow: 2;
}
.menu{
  flex-grow: 1;
}
.cuadrado{

padding: 50px;
height: 200px;
display: flex;
justify-content: space-between;
align-items: center;

}

.blanco{

  color: rgb(255, 255, 255);
}

.negro{

  background-color: rgb(0, 0, 0);
  flex-grow: 1;
}
